/* general styles */
html,
body {
  font-family: 'Calibri';
  font-size: 16px;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: Calibri;
  src: url(../fonts/calibri.ttf);
}
@font-face {
  font-family: Calibrib;
  src: url(../fonts/calibrib.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: League Gothic;
  src: url(../fonts/LeagueGothic-Regular.ttf);
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  margin-bottom: 0px;
}

/* vertical-centered text */
.top {
  background: white;
  padding-top: 13px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 11px;
  height: 76px;
}
.bottom {
  background: #e6e7e8;
  font-size: 12px;
  padding-right: 20px;
  height: 42px;
  padding-top: 11px;
  font-family: 'Calibrib';
}
.text-vcenter {
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  color: white;
  font-family: 'League Gothic';
}
.features {
  padding-left: 150px;
  padding-right: 150px;
}

/* additional sections */
#box1 {
  background: url(../img/bg-6.jpg) no-repeat;
  background-size: 100%;
  color: white;
  display: table;
  height: 500px;
  width: 100%;
  padding-top: 20px;  /*padding-left: 35px;*/

  /*padding-right: 35px;*/
}
#box1 .top-header {
  padding: 0px 35px;
}
.how-it-works-btn {
  border: 3px solid #fff;
}
.row-filter {
  margin-top: 105px;
}
#box2 {
  background-color: #ffffff;
  color: #404041;
  padding-top: 20px;
  padding-bottom: 30px;
}
#box2 .red {
  color: #d92836;
  margin-top: 20px;
  font-weight: 800;
}
#box2 .red:hover {
  color: #6d6e70;
  text-decoration: none;
}
#box3 {
  background-color: #e6e7e8;
  color: #404041;
  padding-top: 20px;
}
#box4 {
  background-color: #ffffff;
  color: #404041;
  padding-top: 30px;
  padding-bottom: 0px;
}
#box5 {
  color: #404041;
  padding: 0px;
}
#box5 .bg-left {
  background: url(../img/jobseeker.png) 0px 0px no-repeat;  /*width: 602px;*/
  height: 330px;
  color: #404041;
  background-size: cover;
}
#box5 .bg-left a {
  color: #404041;
}
#box5 .bg-right {
  background: url(../img/company.png) 0px 0px no-repeat;  /*width: 602px;*/
  height: 330px;
  color: white;
  background-size: cover;
}
#box5 .bg-right a {
  color: white;
}
.news-form {
  display: block;
  margin-top: 20px;
}
footer {
  background: #e6e7e8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  border-top: 1px solid #bbbdc0;
  padding-bottom: 40px;
}
footer .glyphicon {
  color: #404041;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #EE2E24;
}
.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}
footer .foot-wrapper {
  border-right: solid 1px #bbbdc0;
  height: 202px;
}
footer .foot-wrapper-2 {
  height: 202px;
}
footer .foot-wrapper ul {
  margin-top: -10px;
}
footer li {
  line-height: 2.5em;
}
nav {
  position: absolute;
  bottom: 0;
  width: 100%;/*  background: #fff; */
}
nav li {
}
.search {
  background: url(../img/search-icon.png) 0px 0px no-repeat;
  margin-left: -5px;
  margin-top: -21px;
  padding-left: 10px;
}
.search-blue {
  background: url(../img/search-icon-blue.png) 0px 0px no-repeat;
  width: 34px;
  height: 32px;
  border: 1px solid #DDDDDD;
  color: #b2b2b6;
  margin-left: -6px;
}
.search-category a {
  color: #fff;
}
.search-category {
  width: 680px;
  margin: auto;
  margin-top: 10px;
  color: #fff !important;
}
.nav>li>a.white {
  color: #ffffff;
}
.logo {
}
.search-nav {
  width: 363px;
  height: 27px;
  font-size: 12px;
}
.search1 {
  padding-top: 9px;
}
.how-img .col-md-3 img {
  width: 100% !important;/*  height: 220px; */
}
.how-img .col-md-3 .row {
  background: #09b199;
}
.number-container {
  padding-top: 20px;
  padding-left: 21px;
}
.number {
  color: #09B199;  /* padding: 10px; */
  background: #fff;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  margin-left: 15px;
  font-family: 'Calibrib';
}
.how-it-content {
  padding: 20px 10px;
  padding-left: 30px;
}
.how-it-content p {
  text-align: justify;
}
.how-img .col-md-3 {
  color: #ffffff;
  padding-right: 20px;
}
.home-filter {
  background: rgba(0, 0, 0, 0.6);
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 40px;
}
.home-filter button {
  margin-left: -4px;
  border-radius: 0px;
}
.home-filter .form-control {
  margin-bottom: 0px;
  height: 38px;
  color: black;
}
.bg-howitworks {
  background: url(../img/how-img.png) 0px 0px no-repeat;
  width: 367px;
  height: 323px;
  margin-top: 98px;
}
.bg-green {
  background-color: #09b199;
  padding: 10px;
  color: white;
  margin: 8px;
  padding-top: 16px;
}
li {
}
.navi {
  width: 400px;
}
.bg-cute {
  padding: 43px;
}
.padding-top {
  padding-top: 6px;
}
.padding-right {
  padding-right: 45px;
}
.form-1 {
  width: 271px;
  margin-right: -16px;
}
.form-2 {
  width: 162px;
  margin-right: -8px;
}
.form-3 {
  width: 176px;
  color: #808284;
}
.browsejob-title {
  padding-top: 50px;
  margin-left: -20px;
}
.browsejob-list {
  line-height: 2.3em;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 15px;
}
.browsejob-box {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
}
.howitworks-box {
  padding: 50px;
}
.bg-black {
  background: #58585b;
  padding: 5px;
}
.bg-black-2 {
  background: #58585b;
  color: white;
  padding-top: 20px;
  padding-left: 6px;
  padding-bottom: 16px;
  padding-right: 30px;
}
.bg-black a {
  color: white;
  padding-left: 16px;
}
.bg-black p {
  color: white;
  padding-left: 16px;
  font-family: 'Calibrib';
  margin-bottom: -2px;
}
.bg-gray {
  padding: 9px;
  padding-bottom: 0px;
  background: #e1eaf1;
  padding-left: 24px;
  border-bottom: 1px solid #d8d8d8;
}
.bg-success {
  padding: 9px;
  padding-bottom: 0px;
  background: #cfe5af;
  color: #333;
  padding-left: 26px;
}
.col-border {

  /*border-right: solid 1px #bbbdc0;*/
}
.suggest-list h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.suggest-list {
  border-bottom: solid 1px #ddd;
  padding-top: 15px;
  padding-left: 24px;
  padding-bottom: 22px;
  cursor: pointer;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.suggest-list:hover {
  background: #eee;
}
.padding-extra {
  padding: 30px;
}
.suggestion {
  overflow-y: scroll;
  max-height: 928px;  /* padding: 10px; */
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 0px;
}
.pedia-suggest {
  max-height: 1149px;
}
.applied-list {
  max-height: 965px !important;
}
.footer-list {
  padding-left: 20px;
  padding-right: 20px;
}
.compdetails-box {

  /*padding: 20px;*/
}
.modal-lg-less {
  width: 940px;
}
.detail {
  border: 2px solid #22a1ce;
  color: #404041;
  font-family: 'Calibrib';
  font-size: 16px;
}
.why-join-content {
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.bg-black {
  background: #58585b;
  color: white;
  padding-right: 30px;
}
.enter {
  width: 32px;
  height: 32px;
  border: 1px solid #DDDDDD;
  color: #fff;
  font-family: 'Calibrib';
  background: #09b199;
  margin-left: -5px;
  padding-top: -2px;
  margin-top: 0px;
}
.sub {
  width: 270px;
  margin-top: 7px;
}
.content-wrapper {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}
.app-form {
  background: url(../img/bg-2.png);
  position: relative;
  background-color: #d1d2d4;
}
.blue-color {
  color: #22a1ce;
}
.bold-only {
  font-family: 'Calibrib';
}
.gray-bold {
  font-family: 'Calibrib';
  color: #6d6e70;
}
.check-extra {
  margin-bottom: 24px;
}
.check {
  margin-bottom: 14px;
}
.horizontal-dash {
  display: block;
  height: 2px;
  background: url(../img/h-dash.png) 0px 0px repeat-x;
  margin-bottom: 30px;
  margin-top: 0px;
}
.horizontal-dash-2 {
  display: block;
  height: 2px;
  border-bottom: 2px solid #f05a28;
  margin-bottom: 25px;
  margin-top: 0px;
}
.horizontal-dash-3 {
  display: block;
  height: 2px;
  background: url(../img/h-dash.png) 0px 0px repeat-x;
  margin-bottom: 30px;
  margin-top: 10px;
}
.white-box {
  background: white;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 16px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.preview-box {
  background: #e6e7e8;
  padding: 30px;
  width: 536px;
}
.register-box {
  background: #fff;
  width: 421px;
}
.box-white {
  background: white;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.gray-box {
  background: #e6e7e8;
  padding: 30px;
  padding-bottom: 12px;
}
.radio label {
  background: #bbbdc0;
}
.google-icon {
  background: url(../img/g.png) 0px 0px no-repeat;
  width: 33px;
  height: 33px;
}
.linkedin-icon {
  background: url(../img/l.png) 0px 0px no-repeat;
  width: 28px;
  height: 29px;
}
.login-box {
  background: #e6e7e8;
  padding: 20px;
}
.left-sidebar {
  padding-left: 30px;
  padding-bottom: 100px;
  padding-top: 10px;
  background: #eee;
}
.left-sidebar-2 {
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  background: #eee;
}
.tabel {
  padding: 30px;
  padding-right: 52px;
  padding-left: 35px;
}
.title-content {
  font-size: 32px;
  line-height: 1em;
}
.title-content-small {
  line-height: 1.5em;
  color: white;
  margin-top: 0px;
  font-family: 'Calibrib';
  font-size: 20px;
  margin-bottom: 25px;
}
.text-left h3 {
  color: white;
}
.how-it-content h3 {
  color: white;
}
.subtitle-content {
  font-size: 17px;
  color: #6d6e70;
  margin-top: -10px;
  margin-bottom: 25px;
}
.navbar-default .navbar-nav>li>a {
  font-size: 16px;
  margin-left: 7px;
  color: #a8a8a8;
}
.nav .location-nav a {
  background-color: #09B199;
  color: #fff;
}
.nav .location-nav a:active,
.nav .location-nav a:focus {
  background-color: #fff;
  color: #58585b;
}
.nav .industry-nav a {
  background-color: #E8503C;
  color: #fff;
}
.nav .industry-nav a:active,
.nav .industry-nav a:focus {
  background-color: #fff;
  color: #58585b;
}
.nav .function-nav a {
  background-color: #22a1ce;
  color: white;
}
.nav .function-nav a:active,
.nav .function-nav a:focus {
  background-color: #fff;
  color: #58585b;
}
.title-content-div {
  padding-top: 10px;
  padding-bottom: 20px;
}
.list-content {
  background: white !important;
  display: none;
}
.nav-tabs li a {

  /*-moz-box-shadow: 10px 10px 5px #000000;
  -webkit-box-shadow: 10px 10px 5px #000000;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.2); */
}
.nav-tabs {
  float: right;
  clear: both;
}
.modal-dialog-category {
  width: 800px;
}
.line-step {
  border-top: 2px solid #e6e7e8;
  width: 279px;
  height: 1px;
  position: relative;
  top: 17px;
  margin: auto;
  z-index: 0;
}
.signup-step .col-md-4 {
  z-index: 1;
}
.signup-step {
  margin-top: 19px;
  margin-bottom: -14px;
}
.social-register button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0px;
}
.social-register img {
  margin-right: 10px;
  margin-top: -5px;
}
.social-register {
  border-radius: 0px;
  margin-top: 25px;
  margin-bottom: 11px;
}
.btn-primary {
  border-radius: 0px !important;
}
.loader-img {
  padding: 20px 0px;
  text-align: center;
}
.function-list {
  display: block;
}
.apply-job {
  position: absolute;
  right: 12px;
  bottom: 40px;
}
.applied-job {
  color: #666;
  font-family: 'Calibrib';
  position: absolute;
  right: 9px;
  bottom: 40px;
}
.advance-search {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.detail-company {
}
a.btn.detail-company {
  float: right;
  color: #22A1CE;
  font-size: 14px;
  margin-bottom: -21px;
  margin-top: 2px;
  padding: 0px;
}
a.btn.detail-company:hover {
  text-decoration: underline;
}
.detail-jobs .padding-extra {
  border-bottom: 1px solid #ddd;
}
.send-email {
  margin-bottom: 4px !important;
  margin-left: 15px;
  width: 255px;
}
.email-newsletter {
  padding-top: 20px;
}
.selected-list {
  background: #cdebf6;
}
.why-join {
  border-left: 1px solid #999;
}
.contact-info {
  margin-top: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 30px;
}
.company-overview {
  padding: 5px 30px;
}
.bx-wrapper .bx-prev {
  left: -45px !important;
}
.bx-wrapper .bx-next {
  right: -45px !important;
}
.bx-controls-direction {
}
.left-sidebar .nav li a:hover {
  text-decoration: none;
  color: #a7a9ab;
  background: url(../img/hover.png) no-repeat;
  background-position: left;
}
.active-nav a {
  text-decoration: none;
}
.active-nav {
  font-family: 'Calibrib';
  background: #ddd;
  text-decoration: none;
}
.box-shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.cat-title {
  margin-bottom: -36px;
}
.scroll {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: -20px;
  margin-top: 20px;
}
hr {
  border: solid #bbbdc0;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.42857rem 0 1.35714rem;
  height: 0;
}
.or {
  background: #e6e7e8;
  color: #97928c;
  display: block;
  font-size: 14px;
  margin: -30px auto 10px;
  padding: 0 6px;
  width: 60px;
}
.radio-form {
  margin-bottom: -7px;
  margin-top: 15px;
}
.gray-block {
  background: #bbbdc0;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 6px;
}
.marg-right {
  margin-right: 4px;
}
.marg-top {
  margin-top: -10px;
}
a.current-page {

  /*  pointer-events: none;
  cursor: default;*/
  color: #58585b !important;
}
.gray-color {
  color: #979898
}
.mid {
  padding-top: 7.33px;
}
.margin-rite {
  margin-right: 8px;
  width: 271px;
}
.rite {
  margin-right: 2px;
}
.blue-top {
  margin-top: -10px;
}
.hide-show-advance {
  float: right;
  margin-top: 9px;
}
.h3-title {
  margin-bottom: 21px;
  padding-top: 5px;  /* margin-left: -5px; */
  padding-bottom: 8px;
}
.p-margin {
  padding-bottom: 14px;
}
.btn-margin {
  margin-top: 20px;
}
.plus {
  padding-top: 5px;
  margin-bottom: 5px;
}
.red-color {
  color: #d92836 !important;
}
.justify {
  text-align: justify;
}
.ul-padding-left {
  padding-left: 19px;
}
.label-extra {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px !important;
}
.form-inline {
  margin-bottom: -5px;
}
.close-position {
  margin-top: -29px;
  margin-right: -23px;
}
.close-position-2 {
  margin-top: 11px;
  margin-right: 15px;
}
.header-border {
  border-bottom: 4px solid #22A1CE;
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 28px;
}
.h4-extra {
  line-height: 1.6em
}
.list-extra {
  margin-top: 9px;
}
.img-fb {
  margin-left: 10px;
}
.socmed-pic {
  margin-right: 3px;
  margin-top: -1px;
}
.marg-bot {
  margin-bottom: 15px;
}
.marg-left {
  margin-left: -5px;
}
.marg-top {
  margin-top: -2px;
}
.workaria-content {
  width: 775px;
}
.line {
  border-bottom: solid 1px #ddd;
  padding-bottom: 22px;
  margin-bottom: 6px;
  margin-left: 14px;
  padding-top: 11px;
}
.workanav-list {
  color: #58585b;
  margin-bottom: -5px;
}
.form-extra {
  color: #808284;
}
.jobalerts-table {
  width: 960px;
}
.jobalerts-content {
  width: 959px;
}
.nielsen-logo {
  margin-bottom: 20px;
}
.nielsen-logo-modal {
  margin-bottom: 8px;
}
.help {
  margin-left: -25px;
  vertical-align: middle;
}
.help:hover {
}
.row-panel {
  margin-bottom: 20px;
}
.checkbox-extra {
  margin-bottom: 0px !important;
}
.panel-extra {
  margin-top: 26px;
}
.pedia {
  width: 245px;
}
.padding-extras {
  padding: 25px;
  padding-top: 4px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;
}
.padding-extrass {
  padding: 25px;
  padding-top: 4px;
  padding-bottom: 18px;
}
.bg-green h3 {
  color: white;
  margin-bottom: 8px;
}
.msg {
  padding-left: 8px;
}
.about-content {
  padding: 30px;
  padding-bottom: 50px;
}
.about-content-wrapper {
  padding-left: 210px;
  padding-right: 210px;
}
.about-content ol {
  padding-left: 0px !important;
}
.about-content-wrapper h3 {
  color: #404041 !important;
}
.about-content-wrapper .row {
  margin-top: 16px;
}
.about-content-wrapper .col-md-1 {
  text-align: right;
  padding-right: 11px;
}
.about-content-wrapper .text-left {
  padding-top: 10px !important;
}
.contactus-content-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}
.contactus-content-wrapper h5 {
  margin-bottom: 3px !important;
}
.contactus-content-wrapper h3 {
  padding-bottom: 10px;
}
.faq-content-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}
.faq-nav {
  border-bottom: solid 1px #e6e7e8;
  width: 77%;
  padding-top: 3px;
}
.faq-content-wrapper .lefty li a:hover {
  text-decoration: none;
  color: #a7a9ab;
  background: url(../img/hover.png) no-repeat;
  background-position: left;
}
.lefty .current-page a {
  text-decoration: none;
  color: #a7a9ab;
  border-left: 6px solid #09b199;
  background-position: left;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 9px;
  margin-top: 14px;
}
.faq-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 34px;
}
.faq-list img {
  margin-right: 3px;
}
.faq-list-item {
  line-height: 1.7em;
  margin-bottom: 10px;
}
.faq-list-item .fa {
  color: #0DB39A;
  margin-right: 10px;
}
.answer {
  display: block;
  padding: 15px;
  margin-left: 20px;
  background: rgb(238, 238, 238);
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.last-list {
  border-bottom: none !important;
}
.lefty {
  margin-top: -8px;
  padding-right: 40px;
}
.questions {
  margin-left: -20px;
}
.workatips2 {
  padding: 30px;
}
.workatips2 ol {
  padding-left: 0px !important;
}
.article-wrapper {
  padding-left: 286px;
  padding-right: 286px;
}
.article-left {
  color: #6d6e70;
  padding-right: 23px;
}
.article-right {
}
.article-content {
  padding-bottom: 14px;
}
.article-author {
  border-top: 1px solid #d1d2d4;
  padding-top: 27px;
  padding-bottom: 12px;
}
.article-author h4 {
  margin-top: 7px;
}
.article-related {
  border-top: 1px solid #d1d2d4;
  padding-top: 10px;
  padding-bottom: 16px;
}
.article-right h4 {
  margin-bottom: 30px;
}
.article-related img {
  margin-bottom: 6px;
}
.article-comments {
  border-top: 1px solid #d1d2d4;
  padding-top: 14px;
  padding-bottom: 14px;
}
.date {
  color: #fff !important;
  background: #09b199;
  border-radius: 43px;
  width: 82px;
  height: 82px;
  vertical-align: middle;
  text-align: center;  /* font-size: 21px; */
  margin-left: 0px;
  font-size: 42px;
  padding-top: 8px;
  font-family: 'Calibrib';
}
.date3 {
  color: #fff !important;
  background: #09b199;
  border-radius: 43px;
  width: 82px;
  height: 82px;
  vertical-align: middle;
  text-align: center;  /* font-size: 21px; */
  margin-left: 15px;
  font-size: 42px;
  padding-top: 8px;
  font-family: 'Calibrib';
}
.gray-big {
  font-size: 24px;
}
.line2 {
  border-bottom: solid 1px #d1d2d4;
  padding-bottom: 7px;
  margin-bottom: 8px;
  margin-left: 14px;
  padding-top: 17px;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
  text-align: justify;
}
.media-left,
.media>.pull-left {
  padding-right: 10px;
}
.media-heading {
  margin-top: 7px;
  margin-bottom: 5px;
}
.media-body h5 {
  margin-bottom: 7px;
  border-bottom: solid 1px #d1d2d4;
  padding-bottom: 6px;
}
.total-share {
  line-height: 1.2em;
  font-family: 'Calibrib';
  padding-top: 18px;
}
.comment-box {
  background: #e6e7e8;
  padding: 20px;
}
.triangle {
  text-align: center;
  margin-bottom: -1px;
  margin-top: 20px;
}
.gray-small {
  color: #a7a9ab;
  font-size: 12px;
  text-align: right;
  font-weight: normal;
  float: right;
}
.line3 {
  margin-left: 14px;
  padding-top: 5px;
  text-align: center;
}
.workatips-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}
.article-list-wrapper {
  padding-right: 73px;
}
.right-sidebar {
  padding-top: 0px;
}
.article-trailer {
  padding-bottom: 10px;
  border-bottom: solid 1px #ddd;
  padding-top: 35px;
}
.article-content h3 {
  margin-bottom: 4px;
}
.page-control {
  padding-left: 121px;
  padding-top: 21px;
}
.blue-btn {
  border: 2px solid #22a1ce;
  color: #22a1ce;
  font-family: 'Calibrib';
  width: 95%;
}
.gray-btn {
  border: 2px solid #e6e7e8;
  color: #808284;
  font-family: 'Calibrib';
  width: 95%;
}
.sidebar-box {
  margin-bottom: 30px;
}
.sidebar-box ul {
  padding-left: 0px;
}
.sidebar-box ul li {
  list-style: none;
}
.sidebar-box .col-md-7 {
  padding-left: 20px;
}
.sidebar-box ul li.row {
  border-bottom: solid 1px #ddd;
  padding-top: 14px;
}
.sidebar-box ul li.conv {
  padding-bottom: 14px;
}
.triangle-2 {
  text-align: center;
  margin-top: -6px;
}
.zippy {
  color: #22a1ce;
}
ul.archives {
  margin-top: 25px;
}
li.months {
  margin-bottom: 16px;
}
ul.posts {
  padding-left: 13px;
  margin-top: -7px;
}
li.post-title {
  margin-bottom: 6px;
}
li.post-title a {
  color: #939597;
  font-weight: normal;
  font-family: 'Calibri';
}
.workaevent2 {
  padding: 30px;
}
.workaevent-wrapper {
}
.date-list {
}
.workaevent-content-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}
.gray-padding {
  background: #f1f1f2;
  width: 100px !important;
  padding: 5px !important;
}
.blue-padding {
  background: #aadfef;
  width: 100px !important;
  padding: 5px !important;
}
.bigger {
  font-size: 22px;
  font-family: 'Calibrib';
}
.event-snapshot {
  border-bottom: 1px solid #d1d2d4;
  margin-bottom: 16px;
}
.event-snapshot h4 {
  line-height: 1.3em;
}
.event-desc {
}
.event-desc h4 {
  margin-bottom: 23px;
  margin-top: 31px;
}
.date-share-container {
  padding-left: 45px;
  padding-right: 35px;
  margin-top: -7px;
}
.date-share-container2 {
  padding-left: 0px;
  padding-right: 35px;
  margin-top: -7px;
}
.btn-grey {
  border: 2px solid #e6e7e8;
  background: #e6e7e8;
  color: #404041;
  margin-left: 8px;
  font-family: 'Calibrib';
  pointer-events: none;
  font-size: 16px;
}
.btn-grey:hover {
  border: 2px solid #e6e7e8;
  background: #e6e7e8;
  color: #404041;
  margin-left: 8px;
}
.workaevent-container {
  width: 595px;
}
.date2 {
  color: #09b199;
  font-family: 'Calibrib';
  font-size: 36px;
}
.line3 {
  border-bottom: solid 1px #d1d2d4;
  padding-bottom: 7px;
  margin-bottom: 8px;
  margin-left: 14px;
  text-align: right;
  margin-bottom: 0px;
  margin-top: -9px;
}
.workaevent {
  padding: 30px;
}
.event-list-wrapper {
  margin-left: 120px;
  margin-right: 120px;
}
.event-left {
  padding-right: 70px;
}
.section-wrapper {
  margin-bottom: 20px;
}
.section-wrapper h4 {
  margin-top: 9px;
  margin-bottom: 23px;
}
.box-gray {
  background: #e1eaf1;
  padding-top: 6px;
  margin-bottom: 20px;
  font-family: 'Calibrib';
  color: #404041;
  padding-left: 12px;
  padding-bottom: 6px;
  margin-top: 30px;
}
.the-box {
  background: #e6e7e8;
  padding: 20px;
  padding-top: 11px;
}
.biggest {
  font-size: 23px;
  font-family: 'Calibrib';
  color: #09b199;
  margin-top: -6px;
}
.event-snap {
  margin-bottom: 10px;
}
.go-btn {
  text-align: center;
}
.btn-dark {
  border: 2px solid #bbbdc0;
  background: #bbbdc0;
  color: #404041;
  margin-right: 7px;
}
.event-list-item {
}
.event-line {
  border-bottom: solid 1px #ddd;
  margin-top: 28px;
  margin-bottom: 26px;
}
.the-icon {
  margin-right: 10px;
}
.workaothers {
  padding: 30px;
}
.connection-wrapper {
  padding-left: 120px;
  padding-right: 90px;
}
.divided-box {
  margin-bottom: 0px;
}
.profile {
  margin-right: 80px;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
}
.profile-2 {
  margin-right: 80px;
  padding-top: 20px;
}
.connect-field {
  width: 452px;
}
.connect-btn {
  margin-top: -20px;
  margin-left: -4px;
  height: 32px;
  padding-top: 5px;
}
.profile .col-md-10 {
  padding-left: 30px;
}
.profile-2 .col-md-10 {
  padding-left: 30px;
}
.search-wrapper {
  padding-left: 120px;
  padding-right: 160px;
}
.search-wrapper .sidebar-box ul li.row {
  padding-bottom: 14px;
}
.search-wrapper .nav {
  margin-left: -13px;
}
.search-field {
  width: 424px;
}
.search-wrapper .col-md-8 {
  padding-right: 80px;
}
.box-green {
  color: white;
  background-color: #22a1ce;
  padding: 0px;
  margin-bottom: -1px;
  margin-right: 62px;
}
.box-green a {
  color: white;
}
.month {
  padding-top: 7px;
  padding-right: 23px;
}
.article-list-wrapper h2 {
  line-height: 0.5em;
}
.article-list-wrapper h2 a {
  color: #404041;
}
.article-list-wrapper h2 a:hover {
  color: #6d6e70;
  text-decoration: none;
}
.article-content img {
  margin-top: 5px;
}
.test {
  margin-top: -12px;
}
.slider4 a:hover {
  text-decoration: none;
  color: #aaa;
}
.lefty h4 {
  color: #09b199;
}
.gray-list {
  background: #e1eaf1;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}
.bold-black {
  font-family: 'Calibrib';
  font-size: 18px;
  color: #404041;
}
a.name {
  color: #404041;
}
.gray-link {
  color: #808284;
}
.middle-bar {
  padding-left: 50px;
  padding-right: 80px;
}
.reply-line {
  margin-top: -10px;
}
.line-bottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.left-sidebar h4 {
  margin-bottom: 10px;
  padding-bottom: 17px;
  margin-left: 0px;
}
.left-sidebar a {
  font-weight: normal !important;
}
.darker-color {
  color: #404041;
}
.line4 {
  border-bottom: solid 2px #ccc;
  padding-bottom: 22px;
}
.img-a {
  width: 23px;
  height: 17px;
  background: url(../img/a.png) no-repeat;
  border: none;
}
.img-a:hover {
  width: 23px;
  height: 17px;
  background: url(../img/a1.png) no-repeat;
  border: none;
}
.img-ax {
  width: 23px;
  height: 17px;
  background: url(../img/a1.png) no-repeat;
  border: none;
}
.disab {
  pointer-events: none;
  cursor: default;
}
.img-b {
  width: 22px;
  height: 19px;
  background: url(../img/b.png) no-repeat;
  border: none;
}
.img-b:hover {
  width: 22px;
  height: 19px;
  background: url(../img/b1.png) no-repeat;
  border: none;
}
.img-bx {
  width: 22px;
  height: 19px;
  background: url(../img/b1.png) no-repeat;
  border: none;
}
.img-c {
  width: 21px;
  height: 18px;
  background: url(../img/c.png) no-repeat;
  border: none;
}
.img-c:hover {
  width: 21px;
  height: 18px;
  background: url(../img/c1.png) no-repeat;
  border: none;
}
.dropdown-menu>li>a.blue-color {
  color: #22a1ce;
  font-family: 'Calibrib';
}
.article-trailer h3 a {
  color: #404041;
}
.step-3 h3 {
  margin-bottom: 28px;
}
.step-2 h3 {
  margin-bottom: 28px;
}
.signup-step p {
  line-height: 1.2em;
}
.suggest-extra {
  max-height: 1014px !important;
}
.tabel h3 {
  margin-bottom: 21px;
}
.current-page-2 {
  color: #a8a8a8 !important;/*  pointer-events: none;
  cursor: default;*/
  background: #76cbe2;
}
.suggest-list img {
  margin-right: 10px;
  margin-top: 2px;
  width: 15px;
}
.suggest-list button {
  font-size: 12px;
}
.active-button {
  border: 2px solid #22a1ce;
  color: #22a1ce;
  font-family: 'Calibrib';
  width: 95%;
}
.not-active {
  border: 2px solid #e6e7e8;
  color: #808284;
  font-family: 'Calibrib';
  width: 95%;
}
.show-more {
  display: none;
}
.triangle-2 {
  cursor: pointer;
}
.months .posts {
  margin-top: 14px;
  padding-left: 24px;
  font-size: 16px;
}
.go-btn {
  margin-top: 10%;
}
.ins {
  background-image: url(../img/arrow.gif);
  background-repeat: no-repeat;
}
.selecta {
  background: white url(../img/arrow.gif) no-repeat right center;
  background-position: 257px;
}
.selects {
  background: white url(../img/arrow.gif) no-repeat right center;
}
.selectas {
  background: white url(../img/arrow.gif) no-repeat right center;
  background-position: 335px;
}
.selectsa {
  background: white url(../img/arrow.gif) no-repeat right center;
  background-position: 535px;
}
.selectso {
  background: white url(../img/arrow.gif) no-repeat right center;
  background-position: 200px;
}
.faq-list-item .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin-right: 2px;
  float: none !important;
}
.page-control-2 {
  padding-top: 21px;
  border-top: 1px solid #ddd;
  width: 1003px;
}
tr:hover {
  background: #fafafc;
  cursor: pointer;
}
.selectss {
  background: white url(../img/arrow.gif) no-repeat right center;
  background-position: 155px;
}
thead {
  font-family: 'Calibrib'
}
.row-blue {
  background: #FFC169;
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ddd;
}
.row-blue h3 {
}
.event-snapshot h4 {
  font-family: 'Calibrib';
  font-size: 20px;
}
.copy-text {
  float: right;
  margin-top: 37px;
  margin-right: 39px;
  color: #66696a;
}
.bold-font {
  font-family: 'Calibrib';
  margin-bottom: 15px;
}
.bolds {
  font-family: 'Calibrib';
  font-size: 18px;
}
.profile p {
  margin: 0 0 10px;
  line-height: 1.2em;
  margin-top: 8px;
  margin-bottom: 20px;
}
.controls {
  margin-bottom: 13px;
}
.table-condensed>thead>tr>th {
  text-align: center !important;
  padding-left: 0px !important;
}
.middle-bar li {
  margin-right: 15px;
}
.hey {
  margin-bottom: 25px;
}
[data-notifications] {
  position: relative;
}
[data-notifications]:after {
  content: attr(data-notifications);
  position: absolute;
  background: #ee4d5c;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  right: 10px;
  top: -3px;
  padding-left: 6px;
  padding-right: 5px;
  font-size: 12px;
  font-family: 'calibri';
}
.profile-wrapper {
  padding: 30px;
  background: #fff;
  padding-top: 50px;
  padding-left: 50px;
}
.profile-section {
  padding-right: 50px;
}
.graybox-title {
  padding: 3px;
  background: #e1eaf1;
  padding-left: 9px;
  margin-bottom: 10px;
  font-family: 'calibrib';
  margin-top: 10px;
}
.profile-item {
}
.item-title {
  margin-bottom: 8px;
  margin-left: -8px;
}
.item-title h3 {
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: -13px;
  font-family: 'calibrib';
  color: #404041;
  font-weight: normal;
  font-size: 18px;
}
.profile-line {
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
  margin-top: 16px;
}
.bold-bigger {
  font-family: 'Calibrib';
  font-size: 20px;
  margin-bottom: 5px;
  color: #6F7070;
}
.comps {
  margin-top: -5px;
}
.profiles {
  padding-top: 10px;
}
.rightside {
  padding-left: 30px;
  padding-right: 30px;
}
.rightside-wrapper {
  margin-bottom: 20px;
}
.rightside-wrapper h3 {
  margin-bottom: 15px;
  font-family: 'calibrib';
  color: #404041;
  font-weight: normal;
  font-size: 22px;
}
.gray-one {
  background: #f1f1f2;
  padding: 10px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.done {
  text-decoration: line-through;
  color: #a7a9ab;
}
.kotak-biru {
  background: #22a1ce;
  color: #fff;
  padding: 4px;
  padding-bottom: 6px;
  padding-left: 7px;
}
.kotak-abu {
  background: #eee;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
}
li.poto {
  padding-right: 0px;
  padding-left: 2px;
}
.leftsd {
  padding-right: 20px;
}
.bold-biggers {
  font-family: 'calibrib';
  font-size: 18px;
  color: #6F7070;
  margin-bottom: 15px;
}
ul.skill {
  margin-left: 0px;
}
ul.skill li {
  margin-bottom: 5px;
}
.shr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.bigs {
  font-family: 'Calibrib';
  font-size: 32px;
  margin-bottom: -11px;
  padding-right: 15px;
  color: #6F7070;
}
.profile-item p {
  line-height: 1.2em;
}
.up {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 10px;
}
.edit-link {
  padding-top: 10px;
}
.profile-wrapper ul.pagination {
}
.rightside-wrapper ul li.row {
  padding-bottom: 7px;
  padding-top: 9px;
}
.timeline-box {
  margin-bottom: 30px;
}
.box-top {
  border: 1px solid #ddd;
  padding: 17px;
  border-bottom: none;
  padding-bottom: 5px;
}
.box-bottom {
  background: #eee;
  padding: 17px;
  border: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 10px;
}
.box-1 {
  border: 1px solid #ddd;
  text-align: center;
  border-bottom: 0px;
}
.box-2 {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}
.timeline-boxy .nav-tabs {
  float: left !important;
}
.opo {
  line-height: 1em;
  margin-right: 15px;
}
.timeline-box textarea.form-control {
  padding-left: 15px;
  padding-top: 10px;
}
.nav .share-nav a {
  background: #EEE !important;
  border: 1px solid #eee !important;
}
.nav .upload-nav a {
  color: #7D7F81;
  border: 1px solid #ddd;
  border-bottom: none;
  border-left: none;
}
.nav .publish-nav a {
  color: #7D7F81;
  border: 1px solid #ddd;
  border-bottom: none;
}
.nav .upload-nav a:hover {
  color: #58585b;
  border: 1px solid #AFAFB2;
  border-bottom: none;
  border-left: none;
}
.nav .publish-nav a:hover {
  color: #58585b;
  border: 1px solid #AFAFB2;
  border-bottom: none;
}
.boxy {
  padding: 15px;
  background: #eee;
}
.navy {
  background: #fff;
}
.timeline-boxy {
  margin-bottom: 30px;
}
.navy li {
  margin-right: -3px;
}
.bung {
  width: 220px;
  margin-right: 20px;
  margin-top: 10px;
}
.box-tops {
  border: 1px solid #ddd;
  padding: 17px;
  padding-bottom: 20px;
}
.sad {
  margin-top: 5px;
  margin-bottom: 5px;
}
.box-bottom .col-md-10,
.box-bottom .col-md-11 {
  margin-left: -10px;
}
.jobalerts-content .panel-default {
  padding-right: 300px;
  margin-bottom: 0px;
}
.jobalerts-content .panel-heading {
  padding-top: 17px;
  padding-bottom: 17px;
}
.jobalerts-content .btn-success {
  padding: 5px 15px;
  margin-bottom: 10px;
}
a.red-only {
  color: #d92836;
  float: right;
  font-family: 'Calibri';
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  cursor: default;
}
a.red-only:hover {
  text-decoration: none;
}
.redy {
  color: #d92836;
}
.jobalerts-content .panel-title a {
  cursor: default;
}
.jobalerts-content .panel-title a:hover {
  text-decoration: none;
}
.jobalerts-content .panel-title a.abuabu {
  cursor: pointer;
}
.jobalerts-content .panel-title a.abuabu:hover {
  text-decoration: underline;
}
.sky-box {
  padding: 20px;
  background: #e1eaf1;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 16px;
}
.sky-box .radio label {
  background: transparent;
  font-family: 'Calibrib';
}
.sky-box .btn-default {
  color: #58585b;
  background-color: #fff;
  border-color: #ccc;
}
.grei {
  background: #eee;
  padding: 15px;
  padding-top: 8px;
}
.bwhite {
  background: #fff;
  padding: 20px;
  padding-top: 15px;
}
.bwhite .apah {
  text-align: center;
  margin-top: 20px;
}
.bwhite .sih {
  margin-top: 47px;
}
.numberx {
  color: #58585b;
  background: #bbb;
  border-radius: 20px;
  width: 36px;
  height: 35px;
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  margin-left: 15px;
  font-family: 'Calibrib';
  margin-top: 139px;
}
.bwhite ul {
  margin-left: -20px;
  margin-top: 0px;
}
.bwhite .bold-only {
  color: #404041;
}
.detailz {
  border: 2px solid #ddd;
  font-family: 'Calibrib';
  font-size: 16px;
}
.mana {
  border-color: #ddd !important;
  color: #868484;
  font-size: 16px;
  font-family: 'Calibrib';
  padding: 4px 12px;
}
.navi .open>.dropdown-toggle.btn-default,
.navi .btn-default:hover,
.navi .btn-default:focus,
.navi .btn-default:active,
.navi .btn-default.active {
  color: #404041;
  background-color: transparent !important;
  border-color: transparent;
  background: url(../img/search-icon2.png) 0px 0px no-repeat;
  background-position: 5px 7px
}
.ss {
  padding-right: 0px !important;
  padding-left: 20px;
}
a.name:hover {
  color: #5caae6;
}
.remind {
  font-family: 'Calibrib';
  font-size: 14px;
  padding-right: 15px;
  line-height: 1.2em;
  color: #979898;
}
.gray-bigz {
  font-size: 32px;
  margin-top: 9px;
  color: #404041;
}
.omg {
  border-right: 1px solid #ddd;
}
.black-only {
  color: #404041;
}
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  */
  margin-top: 2px;  /* padding: 5px 0; */
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  -moz-border-radius: 6px;  /* border-radius: 6px; */
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 100%;  /* margin-left: 6px; */
}
.tt-suggestion {
  display: block;
  padding: 3px 8px;
  color: #58585b;
  text-align: left;
}
.tt-suggestion.tt-is-under-cursor {
  color: black;
  background-color: #ddd;
  background-image: -moz-linear-gradient(top, #e1eaf1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1eaf1), to(#e1eaf1));
  background-image: -webkit-linear-gradient(top, #e1eaf1);
  background-image: -o-linear-gradient(top, #e1eaf1);
  background-image: linear-gradient(to bottom, #e1eaf1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
.green-color {
  color: #09b199
}
.home-filter .tt-dropdown-menu {
  margin-left: 7px;
}
.duck {
  padding-bottom: 12px;
}
.article-trailer h3 a:hover {
  color: #5caae6;
  text-decoration: underline;
}
.current-page-2 a.darker-color:hover {
  text-decoration: none;
  color: #fff !important;
  background: none !important;
}