<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>Landing Page Template for Bootstrap</title>
 
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
 
  <!-- Custom Google Web Font -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
 
  <!-- Add custom CSS here -->
  <link href="css/bootstrap-tour.min.css" rel="stylesheet">
  <link href="css/landing-page.css" rel="stylesheet">
 
</head>

<script>
// Create a new tour
var tour = new Tour();
 
// Add your steps
tour.addSteps([
  {
    element: ".message.message-1", // element selector to show the popover next to;
    title: "Welcome to my tour!",
    content: "We're going to make this quick and useful."
  },
  {
    element: ".message.message-2",
    title: "Let's finish this thing off with a bang.",
    content: "Boom, bang, bam!"
  }
]);
 
// Initialize method on the Tour class. Get's everything loaded up and ready to go.
tour.init();
 
// This starts the tour itself
tour.start();
</script>